<div class="container">
    <div class="row">
        <div class="controls">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-outline-primary" (click)="addRow()">Add row</button>
                <button class="btn btn-outline-primary" (click)="addCol()">Add Column</button>
            </div>
            <button class="btn btn-outline-secondary" (click)="onClearBoard()">Clear Pixels</button>
            <input type="color" class="form-control" (change)="onColorChange($event)" value="#ffffff">
        </div>
    </div>
    <div class="row justify-content-center">
        <pixel-board [rows]="rows" [cols]="cols"></pixel-board>
    </div>
</div>