.row{
    height: 100%;
    align-items: center;
    justify-content: center;
}

.controls{
    margin: 40px 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    input{
        margin-bottom: 5px;
    }
}

.btn-group{
    button{
        width: 50%;
    }
}

button{
    margin-bottom: 10px;
}

.pixel{
    border: 1px solid black;
    display: inline-block;
    width: 10px;
    height: 10px;
    float: left;
    border-color: rgba( 160, 160, 255, 0.4);
}